*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #343f4f;
    padding: 0 20px;
}

.wrapper {
    max-width: 1200px;
}

.wrapper .carousel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
}
/* .carousel {
    scroll-behavior: smooth;
} */
.carousel img {
    height: 340px;
    width: calc(100%/3);
    object-fit: cover;
    margin-left: 14px;
}

.carousel img:first-child {
    margin-left: unset;
}

.pointer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.point {
    width: 10px;
    height: 10px;
    border: solid 1px white;
}
.active {
    background-color: white;
    transform: rotate(45deg);
}

/** making it responsive **/
@media (max-width: 900px) {
    .carousel img {
        width: calc(100%/2);
    }
}

@media (max-width: 768px) {
    .carousel img {
        width: 100%;
    }
}